<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <meta http-equiv="cache-control" content="max-age=0" />
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="expires" content="0" />
  <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
  <meta http-equiv="pragma" content="no-cache" />
  <title>Covid19 Saudi Arabia</title>
  <base href="/">
  <link rel="shortcut icon" href="img/fav.ico" />
  <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/fortawesome/fontawesome-free/css/fontawesome.min.css">
  <link rel="stylesheet" type="text/css" href="/fortawesome/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="/covid/css/jquery.mCustomScrollbar.min.css">
  <link rel="stylesheet" type="text/css" href="/covid/css/nprogress.css">
  <link rel="stylesheet" type="text/css" href="/covid/css/style.css">

  <script type="text/javascript" src="/covid/js/myjs/map.js"></script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDS7BF2EAnf44NuVM97xewYK5qNbK1gF6s&callback=initMap">
    </script>
</head>
<body>
  <div id="progress"></div>
  <div class="container-fluid">
    <nav id="sidebar">
          <div class="control-control">
              <button type="button" id="sidebarCollapse" class="btn btn-modal-head btn-removepad" data-toggle="tooltip" data-placement="bottom" title="Pull-up">
                <i class="fas fa-align-left"></i>
              </button>
              <button type="button" id="accessadmin" class="btn btn-modal-head btn-removepad" data-toggle="tooltip" data-placement="bottom" title="Login">
              <i class="fas fa-user-lock" ></i>
              </button>

              <button type="button" id="share" class="btn btn-modal-head btn-removepad" data-toggle="tooltip" data-placement="bottom" title="Facebook">
                <i class="fab fa-facebook-f"></i>
              </button>

              <button type="button" id="tweet" class="btn btn-modal-head btn-removepad" data-toggle="tooltip" data-placement="bottom" title="Tweeter">
               <i class="fab fa-twitter"></i>
              </button>

              <button type="button" id="tweet" class="btn btn-modal-head btn-removepad" data-toggle="tooltip" data-placement="bottom" title="Tweeter">
                <i class="fas fa-globe-asia"></i>
              </button>
          </div>
      <div class="sidebar-header btn-modal-head">
        <h5>Covid19-Saudi Arabia</h5>
        <div class='time-frame'>
    <div id='date-part'></div>
    <div id='time-part'></div>
</div>
        <div class="row">
          <div class="col-md-6 toplabel badge-yellow"><i class="far fa-hospital"></i> Active cases</div>
          <div class="col-md-6 text-right">
            <h6><span class="badge badge-yellow-bg">{{confirmed}}</span></h6>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 toplabel badge-green"><i class="fas fa-briefcase-medical"></i> Recovered cases</div>
          <div class="col-md-6 text-right badge-green">
            <h6><span class="badge badge-green-bg">{{recovered}}</span></h6>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 toplabel badge-red"><i class="fas fa-skull"></i> Fatal cases</div>
          <div class="col-md-6 text-right badge-red">
            <h6><span class="badge badge-red-bg">{{fatal}}</span></h6>
          </div>
        </div>
        <h6 class="a">Total confirmed cases</h6>
        <div class="row">
          <div class="col-md-12 text-center badge-red">
            <h3><span class="badge badge-red-bg">{{totalconfirmed}}</span></h3>
           



          </div>
        </div>
      </div>
      <div id="sidebar-menu">
        <ul class="nav nav-tabs px-4" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
              aria-selected="true">Location</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
              aria-selected="false">Nationality</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <ul id="bylocation" class="list-unstyled components p-4">
              <h6>Infected by Location</h6>
              {{#each infected}}
              <li class="pb-2">
                <div class="location-infected">
                  <div class="row">
                    <div class="col-md-6 pt-1">{{location}}</div>
                    <div class="col-md-6 text-right">
                      <h6><span class="badge badge-secondary">{{cnt}}</span></h6>
                    </div>
                  </div>
                </div>
              </li>
              {{else}}
              <p>Refresh</p>
              {{/each}}
            </ul>
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <ul id="bylocation" class="list-unstyled components p-4">
              <h6>Infected by Nationality</h6>
              {{#each nationality}}
              <li class="pb-2">
                <div class="location-infected">
                  <div class="row">
                    <div class="col-md-6 pt-1">{{country}}</div>
                    <div class="col-md-6 text-right">

                      <h6><span class="badge badge-secondary">{{cnt}}</span></h6>

                    </div>
                  </div>

                </div>

              </li>
              {{else}}
              <p>Refresh</p>
              {{/each}}
            </ul>

          </div>

        </div>
      </div>
    </nav>

    <div id="content">

    </div>
    {{> _footer}}
  </div>
  <script type="text/javascript" src="/jquery.min.js"></script>

  <script type="text/javascript" src="/covid/js/popper.min.js"></script>
  <script type="text/javascript" src="/handlebars/dist/handlebars.js"></script>

  <script type="text/javascript" src="/covid/js/nprogress.js"></script>
  <script type="text/javascript" src="/covid/js/helpers.js"></script>
  <script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/covid/js/jquery.mCustomScrollbar.concat.min.js"></script>
  <script type="text/javascript" src="/covid/js/resources.js"></script>
</body>

</html>