<div class="mt-5">
    <div class="row topcont">
        <div class="col-6">
            <h4 class="px-2 mb-1">Persons</h4>
        </div>
        <div class="col-6 text-right px-2">
            <button type="button" id="persons-expandedsearch" class="btn btn-light-mod text-light" data-toggle="collapse"
                data-target="#collapsesearch" aria-expanded="false" aria-controls="collapsesearch">
                <i class="fas fa-arrows-alt-v"></i>
            </button>
            <button type="button" data-backdrop="static" data-keyboard="false" id="btn-NewPerson"
                class="btn btn-success-mod px-3 text-light">
                <i class="fa fa-plus"></i>
                New Person
            </button>

        </div>
    </div>
    <div class="searchhidden collapse" id="collapsesearch">
        <div class="input-group input-group-sm m-2">
            <div class="input-group-prepend">
                <button class="btn btn-success dropdown-toggle" id="person-searchfield" type="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Id</button>
                <div id="person-fields" class="dropdown-menu">
                    <a class="dropdown-item" id="Id" href="javascript:void(0);">Id</a>
                    <a class="dropdown-item" id="Name" href="javascript:void(0);">Name</a>
                    <a class="dropdown-item" id="Age" href="javascript:void(0);">Age</a>
                     <a class="dropdown-item" id="Location" href="javascript:void(0);">Location</a>
                        <a class="dropdown-item" id="Nationality" href="javascript:void(0);">Nationality</a>
                </div>
            </div>
            <input type="text" id="person-searchkey" class="form-control border-success searchkey" aria-label="">

            <div id="person-searchaction" class="btn-group btn-group-sm ml-1" role="group" aria-label="">
                <button type="button" id="person-search" class="btn btn-success" data-toggle="tooltip"
                    data-placement="bottom" title="search"><i class="fas fa-search"></i></button>
                <button type="button" id="person-clear" class="btn btn-success" data-toggle="tooltip"
                    data-placement="bottom" title="clear"><i class="fas fa-eraser"></i></button>
                <button type="button" id="person-refresh" class="btn btn-success" data-toggle="tooltip"
                    data-placement="bottom" title="refresh"><i class="fas fa-sync"></i></button>
            </div>
        </div>
    </div>
</div>


<div id="loadPersons" class="shadow-sm p-2 bg-white">
    <table class="table table-hover table-sm table-striped">
        <thead>
            <tr>
               <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Age</th>
                <th scope="col">Location</th>
                 <th scope="col">Nationality</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each Persons}}
            <tr>
                <td width="10%">{{person_id}}</td>
                <td width="30%">{{name}}</td>
                <td width="10%">{{age}}</td>
                <td width="20%">{{location}}</td>
                <td width="25%">{{country}}</td>
                <td width="5%">
                    <ul>
                        <li>
                            <span class="float-right" data-toggle="tooltip" data-placement="bottom" title="Edit">
                                <i id="{{person_id}}" class="fas fa-edit editperson"></i>
                            </span>
                        </li>
                        <li>
                            <span class="float-right" data-toggle="tooltip" data-placement="bottom" title="Delete">
                                <i id="{{person_id}}" class="fas fa-trash-alt"></i>
                            </span>
                        </li>
                    </ul>
                </td>
            </tr>
            {{else}}
            <table class="table table-hover table-sm table-striped notfoundrecords">
                <tr>
                    <td width="100%">No Person Found</td>
                </tr>
            </table>
            {{/each}}
        </tbody>
    </table>

    <nav class="footerrecord" aria-label="...">
        <span style="float: left;">Record: {{pagination.off}} to {{pagination.bong}} of {{pagination.totalrecord}},
            Page: {{pagination.page}} of {{pagination.pageCount}} </span>

        <ul class="pagination pagination-sm justify-content-end">
            {{#paginate pagination type="first"}}
            <li {{#if disabled}} class="page-item disabled" {{else}} class="page-item" {{/if}}>
                <a class="page-link bong" id="{{n}}" href="javascript:void(0);" aria-label="First">
                    <span aria-hidden="true"><i class="fas fa-angle-double-left"></i></span>
                </a>
            </li>
            {{/paginate}}

            {{#paginate pagination type="previous"}}
            <li {{#if disabled}} class="page-item disabled" {{else}} class="page-item" {{/if}}>
                <a class="page-link" id="{{n}}" href="javascript:void(0);" aria-label="Previous">
                    <span aria-hidden="true"><i class="fas fa-angle-left"></i></span>
                </a>
            </li>
            {{/paginate}}
            {{#paginate pagination type="middle" limit="5"}}
            {{#if active}}
            <li class="page-item active" aria-current="page">
                <span class="page-link">
                    {{n}}
                    <span class="sr-only">(current)</span>
                </span>
            </li>
            {{else}}

            <li class="page-item"><a class="page-link" id="{{n}}" href="javascript:void(0);">{{n}}</a></li>
            {{/if}}
            {{/paginate}}

            {{#paginate pagination type="next"}}
            <li {{#if disabled}} class="page-item disabled" {{else}} class="page-item" {{/if}}>
                <a class="page-link" id="{{n}}" href="javascript:void(0);" aria-label="Next">
                    <span aria-hidden="true"><i class="fas fa-angle-right"></i></span>
                </a>
            </li>
            {{/paginate}}
            {{#paginate pagination type="last"}}
            <li {{#if disabled}} class="page-item disabled" {{else}} class="page-item" {{/if}}>
                <a class="page-link" id="{{n}}" href="javascript:void(0);" aria-label="Last">
                    <span aria-hidden="true"><i class="fas fa-angle-double-right"></i></span>
                </a>
            </li>
            {{/paginate}}
        </ul>
    </nav>
</div>


{{!-- New Person --}}
<div class="modal fade" id="dialog-newPerson" tabindex="-1" role="dialog" aria-labelledby="title" aria-hidden="true">
    <form method="POST" id="formPerson">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header btn-modal-head">
                    <h5 class="modal-title" id="title">New Person</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                
                                <div class="form-group row">
                                    <label class="col-sm-1 col-form-label col-form-label-sm">Id</label>
                                    <div class="col-sm-3">
                                        <input autofocus type="text" autocomplete="off" required="required" id="person_id"
                                            name="person_id" value="" class="form-control form-control-sm"
                                            placeholder="NationalID/Iqama">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-1 col-form-label col-form-label-sm">Name</label>
                                    <div class="col-sm-7">
                                        <input type="text" autocomplete="off" required="required" id="name"
                                            name="name" value="" class="form-control form-control-sm"
                                            placeholder="Name">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-1 col-form-label col-form-label-sm">Age</label>
                                    <div class="col-sm-2">
                                        <input type="text" autocomplete="off" required="required" id="age"
                                            name="age" value="" class="form-control form-control-sm"
                                            placeholder="">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    

                                    <label class="col-sm-1 col-form-label col-form-label-sm">Nationality</label>
                                    <div class="col-sm-4 selectdis">
                                        <div class="errorplacement"><select id='country_id' class="selectpicker myselect"
                                                required="required" data-live-search="true">
                                                <option value=''>Select Nationality</option>
                                                {{#each country}}
                                                <option value={{country_id}}>{{country}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                    </div>

                                </div>


<div class="form-group row">
                                    <label class="col-sm-1 col-form-label col-form-label-sm">Location</label>
                                    <div class="col-sm-4 selectdis">
                                        <div class="errorplacement"><select id='location_id' class="selectpicker myselect"
                                                required="required" data-live-search="true">
                                                <option value=''>Select Location</option>
                                                {{#each location}}
                                                <option value={{location_id}}>{{location}}</option>
                                                {{/each}}
                                            </select>
                                            <label id="location_id-error" class="error" for="location_id" style="">This field is required.</label>
                                        </div>
                                    </div>

                                   

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="controlmanagement">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary-mod" data-dismiss="modal">Close</button>
                    <button type="submit" id="Save" class="btn btn-success-mod">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>